.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    background-image: linear-gradient(rgb(140, 140, 255),white);
}
.link{
    padding: 10px;
}