.div{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.width1{
    padding: 50px;
    width: 350px;
    border-radius: 20px;
    background-image: linear-gradient(rgb(177, 205, 255),rgb(255, 216, 216));
}
.align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
a{
    font-size: 16px;
    padding: 20px;
}